@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", Times, serif;
}

h1, h2, h3, p{
    margin: 0px;
}
body{
    margin: 0px 0px;
}

.upper, .middle, .quote{
    padding: 0px 32px;
}
.upper, .footer{
    background-color: #FCAF36;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
    align-self: center;
}

.header a{
    color: white;
    text-decoration: none;
}

.header-title{
    background-color: #FCAF36;
    display: flex;
    flex: 1 1 auto;
    padding-bottom: 20px;

}

.image-placeholder{
    background-color: rgba(128, 128, 128, 0.312);
    min-width: 200px;
    align-self: stretch;
    flex-grow: 1;
    justify-self: center;
    margin: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
}

.image-placeholder p {
    justify-self: center;
    align-self: center;
}

.button-signup {
    background-color: #F30E04;
    color: white;
    padding:  5px 16px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.boxes {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex: 1;
}
.box{
    min-width: 100px;
    min-height: 150px;
    border-style: solid;
    border-color: #F30E04;
    border-radius: 20px;
}
.under-box-text{
    justify-self: center;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    font-size: 18px;
    font-style: italic;
    font-weight: light;
    display: flex;
    padding: 50px 200px;
    }

.call-to-action{
    display: flex;
    background-color: #E91A0A;
    margin: 20px 80px;
    justify-content: center;
    padding: 10px 40px;
}

.left-call{
    display: flex;
    flex-direction: column;
    color: white;

}

.right-call{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.btn-signup{
    background-color: #E91A0A;
    border-color: white;
    color: white;
    border-style: solid;
    padding: 5px 20px;
}

.main-title h1{
    font-size: 48px;
    font-weight: 900;
}

.main-title h2{
    font-size: 18px;
}

.middle h1{
    font-size: 36px;
    font-weight: 900;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}